<div class="container-fluid bg-primary text-white text-center p-4">
  <h2>AUTODIAGNOSTICO EXPRESS</h2>
  <p>
    Realiza una pequeña encuesta y obtén de la mano de expertos un autodiagnostico ...
  </p>
</div>

<div class="text-center">
  <svg  class="mt-4 pl-4" width="131" height="131" viewBox="0 0 131 131" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M90.3334 122.361H9.29808V8.63883H90.3331V36.8278L98.972 28.1887V4.31942C98.9722 1.93406 97.0379 0 94.6528 0H4.97866C2.59304 0 0.658447 1.93406 0.658447 4.31942V126.681C0.658447 129.066 2.59277 131 4.97866 131H94.6528C97.0379 131 98.9722 129.066 98.9722 126.681V79.1484L90.3334 87.7875V122.361Z" fill="#FF647C"/>
    <path d="M77.5982 18.9995H22.0326C20.2107 18.9995 18.7322 20.478 18.7322 22.3005C18.7322 24.1227 20.2107 25.6012 22.0326 25.6012H77.598C79.4205 25.6012 80.8987 24.1227 80.8987 22.3005C80.899 20.478 79.4205 18.9995 77.5982 18.9995Z" fill="#FF647C"/>
    <path d="M80.899 39.9049C80.899 38.0826 79.4205 36.6039 77.5982 36.6039H22.0326C20.2107 36.6039 18.7322 38.0826 18.7322 39.9049C18.7322 41.7274 20.2107 43.2059 22.0326 43.2059H77.598C79.4205 43.2059 80.899 41.7276 80.899 39.9049Z" fill="#FF647C"/>
    <path d="M72.9543 54.209H22.0326C20.2107 54.209 18.7322 55.6878 18.7322 57.51C18.7322 59.3325 20.2107 60.8108 22.0326 60.8108H66.3523L72.9543 54.209Z" fill="#FF647C"/>
    <path d="M54.4899 76.0923C54.9367 74.5965 55.5752 73.1633 56.3529 71.8137H22.0329C20.211 71.8137 18.7325 73.2922 18.7325 75.1147C18.7325 76.9369 20.211 78.4157 22.0329 78.4157H53.7979L54.4899 76.0923Z" fill="#FF647C"/>
    <path d="M22.0326 89.4188C20.2107 89.4188 18.7322 90.8973 18.7322 92.7198C18.7322 94.5418 20.2107 96.0205 22.0326 96.0205H51.0276C50.1721 93.9448 49.9508 91.6516 50.555 89.4188H22.0326Z" fill="#FF647C"/>
    <path d="M127.642 25.0019C125.913 23.2715 123.568 22.3005 121.124 22.3005C118.681 22.3005 116.337 23.2715 114.609 24.9998L65.774 73.8361C64.4414 75.1681 63.464 76.808 62.9243 78.6132L59.0327 91.658C58.8671 92.2102 59.0175 92.8076 59.426 93.2161C59.7247 93.5151 60.1246 93.6759 60.5347 93.6759C60.6832 93.6759 60.8355 93.6546 60.9841 93.6096L74.0281 89.7175C75.8338 89.1781 77.4736 88.2001 78.8054 86.8681L127.642 38.0336C129.37 36.3057 130.341 33.9613 130.341 31.5179C130.341 29.074 129.37 26.7296 127.642 25.0019Z" fill="#FF647C"/>
  </svg>
  <br>

  <%= link_to 'COMENZAR', 'https://docs.google.com/forms/d/e/1FAIpQLSdwA9yVKhkOdT4CtVEDoP7S_AWiOCTxJyU8ke_O4myujSi_nA/viewform', class: 'btn btn-outline-primary m-4', target: '_blank' %>

</div>
