<h1> INFORMACIÓN PREVENTIVA </h1>
<svg width="806" height="8" viewBox="0 0 806 8" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M1.91428e-09 7.03571V-4.43797e-06H806V7.03571H1.91428e-09Z" fill="black" fill-opacity="0.08"/>
</svg>
<div class="text-justify">
  <p class="pl-4 ">Las medidas importantes para prevenir daños en el futuro bebé son las siguientes:</p>
  <ol>
    <li>Programar cuándo se desea el embarazo y prepararse física y mentalmente para esta etapa.</li>
    <li>No consumir alcohol, cigarrillo ni drogas si se tiene el plan de buscar un embarazo y abstenerse de consumir estas sustancias hasta que se termin la lactancia.</li>
    <li>Procurar vivir en un ambiente amable que provea cuidado y atención y buscar el apoyo familiar en lo posible.</li>
    <li>Alimentarse de manera balanceada, poniendo atención al consumo de frutas y verduras.</li>
    <li>Asistir periódicamente a las citas de control del embarazo y seguir con cuidado todas las recomendaciones.</li>
    <li>Después del parto, atender todas las recomendaciones del personal de salud para el cuidado del bebé.</li>
  </ol>
  <p class="pl-4 font-weight-bold">
    RECUERDA: NUESTRA RECOMENDACIÓN CENTRAL ES EVITAR EL CONSUMO DEL ALCOHOL EN CUALQUIERA DE SUS FORMAS, DE CIGARRILLO Y DE DROGAS.
  </p>
</div>