<h1> DIVULGACIONES CIENTÍFICAS </h1>
<svg width="806" height="8" viewBox="0 0 806 8" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M1.91428e-09 7.03571V-4.43797e-06H806V7.03571H1.91428e-09Z" fill="black" fill-opacity="0.08"/>
</svg>
<div class="text-justify">
  <p class="font-weight-bold">
    - Prevalencia de los desórdenes del Síndrome Fetal Alcoholico en 4 comunidades de EUA
  </p>

  <p class="my-0">
    Los trastornos del espectro alcohólico fetal son discapacidades costosas y duran toda la vida. Datos previos sugerían que la prevalencia de la enfermedad en los Estados Unidos era de 10 por cada 1000 niños; sin embargo, hay algunas estimaciones actuales basadas en muestras de población de Estados Unidos más grandes y diversas...
    <br>
    --> Artículo completo (en inglés)
  </p>

  <%= link_to 'https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5839298/', 'https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5839298/', target: '_blank' %>
  <br><br>
  <p class="font-weight-bold">
    - Updated Clinical Guidelines for Diagnosing Fetal Alcohol Spectrum Disorders
  </p>
  <p class="my-0">
    Los efectos adversos de la exposición prenatal al alcohol constituyen un continuo de discapacidades [trastornos del espectro alcohólico fetal (EDAF)]. En 1996, el Instituto de Medicina estableció las categorías diagnósticas que delinean el espectro, sin especificar los criterios clínicos por los cuales se podrían asignar los diagnósticos. En el 2005, los autores publicaron directrices prácticas para la operacionalización de las categorías de Instituto de Medicina, permitiendo la estandarización del diagnóstico del EDAF en el ámbito clínico. El propósito del presente informe es presentar directrices actualizadas de diagnóstico basadas en una revisión exhaustiva de la literatura y en la experiencia combinada de los autores basada en la evaluación de > de 10.000 niños potencialmente afectados por EDAF en entornos clínicos y estudios epidemiológicos...
    <br>
    --> Artículo completo (en inglés)
  </p>
  <%= link_to 'https://pediatrics.aappublications.org/content/pediatrics/138/2/e20154256.full.pdf', 'https://pediatrics.aappublications.org/content/pediatrics/138/2/e20154256.full.pdf', target: '_blank'  %>

</div>







